{
	"PG_USER":"postgres",
	"PG_PASS":"postgres",
	"PG_DB":"localemgmtdb",
	"STORE_USER_PSW":"store",
	"LOCALEMGMT_USER_PSW":"localemgmt",
	"GOOSE_DRIVER":"postgres",
	"GOOSE_DBSTRING":"postgres://tobe:inserted@localhost:5432/localemgmtdb",
	"GOOSE_MIGRATION_DIR":"./sqlscripts"
}
